body{
    background-color: rgb(178, 215, 250);
    text-align: center;
    }
    #conteudo-lista1{
        color: rgb(235, 97, 154), 0.685));
    }
    #conteudo-lista2{
        color: rgba(247, 244, 67, 0.582)
        
    }
#imagem{
    width: 400px;
}    