body{
    background-color: rgb(198, 223, 247);
    text-align: center;
    }
    h1{
        color: rgb(253, 60, 140));
    }
    p{
        color: rgb(248, 246, 110)
        
    }
#imagem{
    width: 400px;
}    