body{
    background-color: rgb(198, 223, 247);
    text-align: center;
    }
    h1{
        color: rgb(15, 15, 15);
    }
    p{
        color: rgb(228, 215, 165);
        
    }
#imagem{
    width: 400px;
}    